@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 24px;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #000;
  font-size: 19px;
  font-weight: 400px;
}

/* Header styles */
header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 40px 0;
  margin: 80px 0;
}

/* Main content styles */

.container {
  max-width: 90%; /* вместо 600px */
  width: 100%; /* чтобы занимало всю доступную ширину */
  margin: 0 auto;
}

main h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

main img {
  background-color: #fff0f0;
  border-radius: 20px;
  display: block;
  margin: 40px auto;
}

main p {
  font-size: 19px;
  font-weight: 400;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

main .btn,
.blocks .block .btn {
  padding: 10px 25px;
  display: block;
  margin: 25px auto;
  background-color: #fff;
  border-radius: 5px;
  transition: all 500ms ease;
}

main .btn:hover,
.blocks .block .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Blocks section styles */

.blocks h2 {
  font-weight: 700;
  font-size: 27px;
  padding-bottom: 20px;
}

.blocks h2,
.blocks p {
  max-width: 260px;
}

.blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.blocks .block {
  display: flex;
  text-align: justify;
  max-width: 90%;
  margin: 40px auto;
  align-items: flex-start;
}

.blocks .block .btn {
  float: left;
}

.blocks .block-content {
  margin: 20px;
}
footer .thx {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

footer .thx p {
  padding: 30px 0;
}

footer hr {
  margin: 20px auto;
  max-width: 800px;
  height: 3px;
  background: #000;
  border: none;
  border-radius: 5px;
}

footer .corp {
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
}

footer .corp p {
  padding: 5px 0;
}

footer .socials {
  display: flex; /* делаем flex-контейнер */
  justify-content: center; /* выравнивание по центру */
  gap: 20px; /* расстояние между картинками */
  margin-top: 15px;
}

footer .socials img {
  width: 40px; /* размер иконок */
  height: 40px;
}
